.carousel__banner {
    position: relative;
    background: url('../images/banner.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: $height-header;
    z-index: 1;
    
    .carousel__text {
        position: absolute;
        left:10%;
        top:50%;
        transform: translateY(-50%);
        z-index: 10;
        background-color: getColor('white');
        border-radius: 4px;
        box-shadow: 0 0 4px getColor('grey');
        padding: 24px;
        width: 30%;
        @include mediaQuery($md) {
            width: 80%;
        }
        h1 {
            @include setText(getColor('black'),getFontSize('size-18'),getFontWeight('regular'));
        }
        p {
            @include setText(getColor('black'),getFontSize('size-16'),getFontWeight('regular'));
            margin: 12px 0;
        }
        .carousel__form {
            position: relative;
            width: 100%;
            height: 50px;
            border-radius: 2px;
            display:flex;
            align-items: center;
            transition: all 0.4s;
            .ant-select {
                width: 100%;
                height: 100%;
                .ant-select-selector {
                    height: 100%;
                    align-items: center;
                    .ant-select-selection-search-input {
                        height: 100%;
                    }
                }
            }
            // input {
            //     position: absolute;
            //     left: 0;
            //     top:0;
            //     bottom: 0;

            //     background-color: transparent;
            //     @include setText(getColor('black'),getFontSize('size-16'),getFontWeight('regular'));
                
            //     padding: 10px;
            //     width: 100%;
            //     padding-right: 10%;
            //     border-radius: 2px;
            //     border: none;
            //     outline: none;
            // }
            // i {
            //     position: absolute;
            //     right:0;
            //     top: 50%;
            //     transform: translateY(-50%);
            //     height: 100%;
            //     width: 10%;
            //     z-index: 5;
            //     color: getColor('secondary');
            //     font-size: 16px;
            //     display:flex;
            //     align-items: center;
            //     justify-content: center;
            //     overflow: hidden;
            // }
            // &:hover {
            //     border: 1px solid #aaa;
            // }
        }

    }

    .carousel__img {
        position: absolute;
        bottom: 30%;
        right: 0;
        width: 50%;
        height: 50%;
        @include mediaQuery($md) {
            display:none;
        }
        img {
            width: 400px;
            margin-left: 10%;
            object-fit: cover;
        }
        .slick-prev, .slick-next {
            display:none !important;
        }
    }
}