.login {
    margin-top: $height-header;
    background:url('../images/background1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 24px;
    .login__wrapper {
        background-color: getColor('white');
        border: 1px solid getColor('grey');
        border-radius: 4px;
        margin: 48px auto;
        width: 30%;
        padding: 24px;
        @include mediaQuery($md) {
            width: 100%;
        }
        h1 {
            @include setText(getColor('black'),getFontSize('size-24'),getFontWeight('medium'));
            text-align: center;
        }

        & .login-form-forgot {
            float: right;
        }
        & .ant-col-rtl .login-form-forgot {
            float: left;
        }
        & .login-form-button {
            width: 100%;
        }
    }
}