.table__users {
    .ant-space {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .ant-space-item {
            width: 100%;
            margin: 4px 0px !important;
        }
    }
}